.hero-container {
    width: 100vw;
    height: 400px;
}

.hero {
    width: 100%;
    height: 100%;
    background: url('../../images/mobile/1-homepage/Banner-homepage.png') no-repeat center;
    background-size: cover;
}